body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li a {
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}



.navbar nav ul li a:hover {
    text-decoration: underline; 
    
}

.head {
    text-align: center;
    margin-top: 50px;
}

.head h1 {
    font-size: 4em;
    margin: 20px 0;
}

.search {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin: 20px 0;
    background-color: transparent;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
}

.search input {
    padding: 10px;
    width: 300px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: rgb(247, 247, 247);
}

.search button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color:transparent;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.search button:hover {
    background-image: linear-gradient(rgb(24, 24, 24), rgb(249, 249, 244));
}

.adver {
    margin: 50px auto;
    width: 60%;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

.adver h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.adver h4 {
    font-weight: normal;
    line-height: 1.5;
    font-size: 1em;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
}
.wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
  }
  .popup {
    width: 300px;
    height: 300px;
    padding: 15px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(10, 7, 9, 0.9);
    text-align: center;
  }
  .popup h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
  }
  .input-box {
    margin-bottom: 15px;
    position: relative;
  }
  .input-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  } 
  .input-box label {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #0c0c0c;
    font-size: 12px;
    pointer-events: none;
    /* transition: 0.3s; */
    opacity: 0.19;
  } 

  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
  }
  .popup button {
    width: 100%;
    padding: 8px;
    border: none;
    background: #f4f5f6;
    color: #0a0a0a;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;

  }
  .popup button:hover {
    background: #bfc1c4;
  }
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }